.list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-panel {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.table-container {
  min-height: 400px;
}

table {
  width: 100%;
}
